html,
body {
  background-image: url('wood.jpg');
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
.header {
  background-image: url('header.jpg');
  background-position: center;
  background-size: cover;
  border-bottom: 6px groove #7F8E52;
  margin: 0;
  padding: 0;
  text-align: center;;
}
.allTasks p {
  color: white;
  text-align: center;
}
p {
  color: white;
  font-size: 1.5rem;
  padding: 0 20px;
}
.header_text {
  color: white;
  font-family: Papyrus;
  margin-left: 20px;
}
.header_text h3 {
  font-size: 3rem;
  margin-bottom: 0;
}
.header_text h5 {
  margin-top: 0;
  padding-bottom: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: white;
  height: 150px;
  padding: 20px;
}


.App-intro {
  font-size: large;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
button {
  align-items: baseline;
  background-color: #7F8E52;
  border-color: #E1E195;
  border-radius: 5px;
  color: #E1E195;
  font-family: Papyrus;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 20px;
  padding: 20px;
}
input {
  align-items: baseline;
  background-color: #E1E195;
  border: 4px solid #7F8E52;
  border-radius: 5px;
  color: #7F8E52;
  font-family: Papyrus;
  font-size: 28px;
  margin-right: 5px;
  margin-top: 20px;
  opacity: .9;
  outline-style: none;
  padding: 20px 30px 20px 30px;
}
::-webkit-input-placeholder {
  color: #7F8E52;
}
ul {
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

li {
  background-color: #7F8E52;
  border: 2px solid #E1E195;
  border-radius: 3px;
  flex-wrap: wrap;
  font-family: Papyrus;
  font-size: 2rem;
  height: 100px;
  justify-content: center;
  list-style: none;
  margin: 0 auto 20px auto;
  opacity: .8;
  width: 400px;
}
.number {
  padding-right: 10px;
}

.item_text {
  align-items: center;
  color: #E1E195;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}

/* On mouse-over, add a deeper shadow */
li:hover {
  box-shadow: 6px 12px 4px 0 rgba(0,0,0, .4);
  opacity: 1;
  transition: .3s;
}

.ion-ios-trash-outline {
  color: #E1E195;
  padding-left: 40px;
}
.ion-ios-trash-outline:hover {
  color: black;
  padding-left: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
